
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/css/user_sign_in.css">


<div class="wrapper fadeInDown">
  <div id="formContent">



   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">

    <form action="/user/create" method="POST">
        <input type="text" name="name" placeholder="enter name" required>
        <input type="text" name="email" placeholder="enteremail" required>
        <input type="password" name="password" placeholder="enter password" required>
        <input type="password" name="confirm_password" placeholder="confirm password" required>
        <input type="submit" value="Sign-Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="/user/auth/google"> signup using google </a>
    </div>

  </div>
</div>


  </div>
</div>