<ul>
<form action="/user/change-password/<%= id %>" method="POST">
    <li></li><input type="password" name="old_password" placeholder="enter old password" required></li>
    <li><input type="password" name="new_password" placeholder="enter new password" required></li>
    <li><input type="password" name="new_password_check" placeholder="re-enter new password" required></li>
   
     <input type="submit" value="reset">
</form>
</ul>