<form action="/user/create-session" method="POST">
    <input type="text" name="email" placeholder="enteremail" required>
    <input type="password" name="password" placeholder="enter password" required>
    <input type="submit" value="Sign-In">
</form>